# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution/Packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
.env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Python-specific files
*.log
*.pot
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test directories
*.cover
*.coverage
nosetests.xml
coverage.xml
*.hypothesis/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Other
*.bak
*.tmp
*.swp
